@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var bookCount = ViewData["BooksCount"] ?? 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>There are @bookCount books</p>
</div>
